# .env file

# NEXTCLOUD
# -----------------------------------------------------------------------------
NC_DB_ROOT_PASSWORD=password
NC_DB_USER=admin
NC_DB_PASSWORD=password
NC_REDIS_PASSWORD=password
NC_ADMIN_USER=admin
NC_ADMIN_PASSWORD=password
NC_DOMAIN=localhost:8080

# FORGEJO
# -----------------------------------------------------------------------------
FORGEJO_DB_USER=admin
FORGEJO_DB_PASSWORD=password
FORGEJO_DOMAIN=localhost
FORGEJO_ROOT_URL=http://localhost:3000

# MONGODB
# -----------------------------------------------------------------------------
MONGODB_ROOT_PASSWORD=password